anyio==3.6.2
asgiref==3.5.2
autopep8==1.7.0
backports.zoneinfo==0.2.1
certifi==2022.12.7
Django==4.1.1
django-environ==0.9.0
django-kronos==1.0
djangorestframework==3.14.0
Faker==15.3.1
h11==0.14.0
httpcore==0.16.3
httpx==0.23.1
idna==3.4
pycodestyle==2.9.1
python-crontab==2.7.0
python-dateutil==2.8.2
pytz==2022.6
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.3
toml==0.10.2
