{% extends "bank_app/base.html" %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}

{% include 'bank_app/customer_dashboard_nav.html' %}

<p>Welcome, {{ user.customer.full_name }}</p>
<article>
    <h2>My Accounts</h2>
    <table>
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Name</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td><a style="display: block;" href="{% url 'bank_app:account_details' account.pk %}">{{ account.pk }}</a></td>
                    <td>{{ account.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% endblock %}