{% load humanize %}

<h3>Transaction Details</h3>
<p>Transaction ID: {{ transaction_id }}</p>
<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Text</th>
            <th>Account</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transaction %}
            <tr>
                <td>{{ t.amount|intcomma }}</td>
                <td>{{ t.text }}</td>
                <td>{{ t.account.pk }}</td>
                <td>{{ t.created_at|date:'Y-n-d H:i' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>